version: "3.8"

services:
  server:
    build: ./server
    container_name: craftdex-server
    ports:
      - "3000:3000"

  client:
    build: ./client
    container_name: craftdex-client
    ports:
      - "5173:5173"
    depends_on:
      - server

volumes:
  mongo-data: